<div id="sidebar" class="tm-sidebar-left uk-background-default">
    <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">
            <a href="status">Status</a>
        </li>
        <li class="uk-nav-header">
            <a href="/admin/scraps">Scraps</a>
        </li>
         <li class="uk-nav-header">
            <a href="/admin/scraps/create/">Create New Scrap</a>
        </li>
       
         <li class="uk-nav-header">
            <a href="/admin/users">Users</a>
        </li>
        <li class="uk-nav-header">
            <a href="/admin/users/create/">Create New User</a>
        </li>
        <li class="uk-nav-header">
            <a href="/admin/users/logout">Logout</a>
        </li>


    </ul>
</div>