<div class="uk-container uk-container-large">
    <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl">
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <b>total</b>: {{scrapInfo.total}}, 
                <br />
                <b>running</b>: {{scrapInfo.running}}
                <br />
                <b>next running: </b> {{scrapInfo.nextRunning}}
            </div>
        </div>
    </div>
</div>