commands:
  10-create-dir:
    command: "mkdir -p /tmp/deployment/application/node_modules/puppeteer/.local-chromium"
    ignoreErrors: true
  15-create-dir:
    command: "mkdir -p /tmp/deployment/application/node_modules/bcrypt/lib"
  20-set-permissions:
    command: "chown nodejs:nodejs /tmp/deployment/application/node_modules/puppeteer/.local-chromium"
    ignoreErrors: true
  30-set-permissions:
    command: "chown nodejs:nodejs /tmp/deployment/application/node_modules/bcrypt/lib"
    ignoreErrors: true
