<form action="/admin/scraps/create" method="POST">
  <div class="form-group">
    <label for="Website">Website</label>
    <input name="websitename" type="text" class="uk-input uk-form-medium" id="websitename"
      placeholder="Enter WebsiteName" value="{{scrap.websitename}}" required>
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input name="url" class="uk-input uk-form-medium" id="url" value="{{scrap.url}}">
  </div>

  <div class="form-group">
    <label for="url">select your Javascript file</label>
    <input type="file" name="jsFile" class="uk-input uk-form-medium" id="url" value="{{scrap.file}}">
  </div>


  <br />
  <br />
  <br />
  <div class="uk-group">
    <button type="submit" class="uk-button uk-button-primary uk-button-medium ">Create Website</button>
  </div>
</form>